@font-face {
  font-family: 'Oswald';
  src: url('./Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  /* Remplacez '/chemin/vers/le/fichier/oswald-regular.ttf' par le bon chemin vers votre fichier de police Oswald */
}

/* Utilisez la police Oswald dans votre application */
body {
  font-family: 'Oswald', sans-serif;
}
